.Container {
    display: grid;
    grid-template-rows: min-content 1fr;
    height: 100%;
}

/* BUTTON */
.Container .container-button {
    background-color: hsl(0, 0%, 10%, 0.85);
    border: 1px solid hsla(0, 0%, 10%, 0.85);
    color: hsl(0, 0%, 80%);
    cursor: pointer;
    font-family: var(--font-default);
    font-weight: bold;
    transition: 0.25s;
    font-size: 0.85em;
    white-space: nowrap;
    height: 1.75em;
    -webkit-mask-image: url(/wfrp4e-roster/src/assets/mask_dlc.png);
    -webkit-mask-mode: alpha;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: url(/wfrp4e-roster/src/assets/mask_dlc.png);
    mask-mode: alpha;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    padding: 0em 1em;
}

/* CONTENT */
.Container .content {
    background-color: hsl(0, 0%, 0%, 0.5);
    border-radius: 4px;
    color: white;
    /* height: 100%; */

}