.Inventory {
    display: grid;
    grid-template-columns: 2rem auto;
    grid-template-rows: min-content min-content auto min-content;
    gap: 0.5em;
    width: 100%;
    padding-bottom: 1em;
}

.Inventory .title {
    display: grid;
    grid-column: 1/3;
    grid-row-start: 1;
    justify-content: center;
    padding-bottom: 0.5em;
}

.Inventory .title span {
    font-family: var(--font-headers);
    color: var(--font-color-default);
    font-size: 1.5em;
}

/*FILTER BAR*/
.Inventory .filter-bar {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-row-start: 3;
    gap: 0.5em;
}

.Inventory .filter-bar span {
    font-size: 2em;
    color: var(--font-color-default-highlight);
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
}

.Inventory .filter-bar span:hover {
    color: var(--highlight-color-brown);
}

/*TOOL BAR*/
.Inventory .tools-bar {
    display: flex;
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: end;
    align-items: center;
}

/*SEARCH BAR*/
.Inventory .tools-bar .inventory-search-bar {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 0.25em;
}

.Inventory .tools-bar .inventory-search-bar input {
    background: none;
    color: hsl(0, 0%, 80%);
    font-family: var(--font-default);
    font-size: 16px;
    border-radius: 2px;
    border-bottom: 2px solid grey;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 1em;
    width: 22em;
    height: 2em;
    transition: 0.25s;
}

.Inventory .tools-bar .inventory-search-bar input:focus {
    outline: none;
    border-bottom: 2px solid hsl(50, 25%, 45%);
}

.Inventory .tools-bar .inventory-search-bar svg {
    color: hsl(0, 0%, 80%);
    align-self: center;
}

/*CREATE ITEM BUTTON*/
.Inventory .tools-bar .create-item-button {
    /* width: 6em;
    height: 3em; */
    /* border: 2px solid hsl(0, 0%, 60%); */
    /* background-color: hsla(0, 0%, 0%, 0.5); */
    text-wrap: nowrap;
    font-family: var(--font-default);
    font-weight: bold;
    font-size: 22px;
    background: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.25s;
    color: hsl(0, 0%, 80%);
    margin-left: auto;
}


.Inventory .tools-bar .create-item-button:hover {
    color: var(--highlight-color-brown);
    border-color: var(--highlight-color-brown);
}

/*ITEM EDIT BUTTON*/
.Inventory .edit-button {
    font-size: 1.25em;
    transition: 0.5s;
}

.Inventory .edit-button:hover {
    color: var(--highlight-color-brown);
    cursor: pointer;
}

/*ITEM DELETE BUTTON*/
.Inventory .delete-button {
    font-size: 1.25em;
    transition: 0.5s;
}

.Inventory .delete-button:hover {
    color: hsl(0, 60%, 40%);
    cursor: pointer;
}

.Inventory .items {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    grid-column-start: 2;
    grid-row-start: 3;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*INVENTORY BOTTOM SECTION*/
.Inventory .inventory-bottom {
    display: grid;
    grid-template-rows: min-content auto;
    grid-column: 1/3;
    grid-row-start: 4;
    padding: 0.25em;
    border-radius: 4px;
    background: hsla(0, 0%, 0%, 0.2);
    backdrop-filter: blur(4px);
}

/*ENCUMBRANCE*/
.Inventory .inventory-bottom .encumbrance {
    display: grid;
    grid-template-columns: min-content auto;
}

.Inventory .inventory-bottom .encumbrance svg {
    color: white;
    font-size: 1.5em;
    align-self: center;
    padding-left: 0.2em;
}

.Inventory .inventory-bottom .encumbrance .encumbrance-table {
    display: grid;
    grid-template-columns: auto auto auto auto min-content;
    align-content: center;
    height: 2.5em;
    border-bottom: 2px dotted white;
    border-color: var(--font-color-default-faint);
    padding: 0 0.5em;
}

.Inventory .inventory-bottom .encumbrance .encumbrance-table>* {
    display: flex;
    align-items: center;
}

.Inventory .inventory-bottom .encumbrance .encumbrance-table input {
    /* justify-self: center; */
    text-align: center;
    font-family: 'Comforter Brush';
    width: 1em;
    font-size: 2.5em;
    color: white;
    background: none;
    border: none;
}

.encumbrance-table input:focus {
    outline: none;
}

.Inventory .inventory-bottom .encumbrance .encumbrance-table span {
    text-align: center;
    color: var(--font-color-default-faint);
}

.Inventory .inventory-bottom .encumbrance .encumbrance-table span.encumbered {
    color: rgb(218, 104, 104);
    text-shadow: 0px 0px 5px hsl(0, 85%, 45%);
    font-family: 'Comforter Brush';
    font-size: 2.5em;
    transition: 0.5s;
}

.Inventory .inventory-bottom .encumbrance .encumbrance-table span.not-encumbered {
    font-family: 'Comforter Brush';
    color: hsl(0, 0%, 80%);
    font-size: 2.5em;
    transition: 0.5s;
}

.Inventory .inventory-bottom .encumbrance .encumbrance-table .label,
.encumbrance-tooltip .label {
    font-family: var(--font-default);
    color: var(--font-color-default);
}

/*ENCUMBRANCE INFO TOOLTIP*/
.encumbrance-tooltip {
    user-select: none;
}

.encumbrance-tooltip .header {
    font-family: var(--font-headers);
    text-transform: uppercase;
    color: hsl(0, 0%, 10%);
}

.encumbrance-tooltip .label {
    color: hsl(0, 0%, 10%);
}

.encumbrance-tooltip .encumbrance-value {
    font-family: var(--font-headers);
    color: hsl(50, 25%, 30%);
}

.Inventory .inventory-bottom .encumbrance .encumbrance-table .info-button {
    grid-row: 1/3;
    grid-column: 3/4;
    color: var(--font-color-default-highlight);
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.5s;
}

.Inventory .inventory-bottom .encumbrance .encumbrance-table .info-button:hover {
    color: hsl(50, 25%, 45%);
}

/*WEALTH*/
.Inventory .inventory-bottom .wealth {
    display: flex;
    box-sizing: border-box;
}

.Inventory .inventory-bottom .wealth div {
    display: flex;
    height: 4em;
    align-items: center;
}

.Inventory .inventory-bottom .wealth svg {
    color: white;
    font-size: 2em;
}

.Inventory .inventory-bottom .wealth input {
    height: 50%;
    width: 60%;
    font-size: 2.5em;
    font-family: 'Comforter Brush';
    box-sizing: border-box;
    text-align: center;
    color: var(--font-color-default);
    border: none;
    background: none;
    padding-top: 10px;
}

.Inventory .inventory-bottom .wealth input:focus {
    outline: none;
    caret-color: transparent;
    color: var(--highlight-color-brown);
}

/* CREATE ITEM DIALOG */
.createItemDialog {
    width: 40rem;
    background-color: hsla(0, 0%, 10%, 0.80);
    backdrop-filter: blur(4px);
    color: hsl(210, 5%, 75%);
    padding: 1rem;
    border-radius: 4px;
}

.createItemDialog .p-dialog-title {
    font-size: 2rem;
    font-family: 'Rowdies'
}

.createItemDialog .p-dialog-content {
    display: grid;
    padding: 1em;
    font-family: var(--font-default);
}

.createItemDialog .p-dialog-content input {
    background-color: transparent;
    border: 1px solid hsl(210, 5%, 50%);
    border-radius: 2px;
    padding: 0.5rem;
    color: hsl(210, 5%, 75%);
}

.createItemDialog .p-dialog-content input:focus {
    outline: none;
    border-color: white;
}

.p-dropdown,
.p-multiselect {
    border: 1px solid hsl(210, 5%, 50%);
    border-radius: 2px;
    padding: 0.5rem;
}

.createItemDialog .create-weapon-dialog {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
}

.createItemDialog .item-name {
    /* width: 10em; */
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    padding-bottom: 1em;
    text-align: start;
    padding: 0.5em;
}

.createItemDialog .item-traits {
    grid-column-start: 1;
    grid-row-start: 2;
    padding-bottom: 1em;
}

.createItemDialog .item-bottom-section {
    display: flex;
    grid-column-start: 1;
    grid-row-start: 3;
    gap: 1em;
    text-align: center;
    background-color: hsl(0, 0%, 0%, 0.3);
}




.p-dropdown-items-wrapper,
.p-multiselect-items-wrapper {
    color: hsl(210, 5%, 75%);
    background-color: hsla(0, 0%, 10%, 0.75);
    font-family: 'Quicksand';
    border: 1px solid hsl(210, 5%, 50%);
    border-radius: 2px;
    border-top: none;
}

.p-dropdown-item,
.p-multiselect-item {
    padding: 0.1rem 0.3rem;
}

.p-dropdown-item:hover,
.p-multiselect-item:hover {
    background-color: hsl(50, 25%, 45%);
    color: black;
}

.p-multiselect {
    width: 15rem;
}

.p-multiselect-close-icon,
.p-checkbox-icon {
    display: none;
}

.createItemDialog .item-traits {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.createItemDialog .item-traits div {
    display: flex;
    flex-direction: column;
}

.createItemDialog .item-category-select {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 2em;
    height: 5em;
}

/*DIALOG HEADER*/

.createItemDialog .dialog-header {
    display: grid;
    grid-template-columns: min-content auto;
}

.createItemDialog .back-button {
    font-size: 1.25em;
    color: hsl(0, 0%, 80%);
    height: 1em;
    background: none;
    border: none;
    transition: 0.25s;
}

.createItemDialog .back-button svg {
    align-self: center;
    cursor: pointer;
}

.createItemDialog span {
    justify-self: center;
}

.createItemDialog .back-button:hover {
    color: var(--highlight-color-brown);
}


/*DIALOG FOOTER*/
.createItemDialog .dialog-footer {
    display: flex;
    /* grid-template-columns: auto auto; */
    /* justify-content: center; */
    gap: 1em;
    /* padding-top: 2em; */
}

.createItemDialog .footer-button {
    /* background-color: hsl(0, 0%, 5%, 0.9); */
    background-color: hsl(0, 0%, 30%, 0.4);
    color: hsl(0, 0%, 80%);
    border: 1px solid hsla(0, 0%, 50%, 0.5);
    /* border-radius: 2px; */
    cursor: pointer;
    font-family: var(--font-default);
    font-weight: bold;
    height: 2em;
    transition: 0.25s;
    font-size: 18px;
    flex: 1;

    -webkit-mask-image: url(../../assets/mask_dlc.png);
    -webkit-mask-mode: alpha;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: url(../../assets/mask_dlc.png);
    mask-mode: alpha;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.createItemDialog .footer-button:hover {
    color: var(--highlight-color-brown);
}

.createItemDialog .footer-button:disabled {
    color: hsl(0, 0%, 30%);
    cursor: default;

}

/*ITEM CATEGORY SELECTION*/
.createItemDialog .category-button {
    display: grid;
    color: hsl(0, 0%, 80%);
    height: 4em;
    width: 6em;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    justify-content: center;
    align-content: center;
    transition: 0.25s;
}

.createItemDialog .category-button .category-background {
    position: absolute;
    z-index: -1;
    background: hsl(0, 0%, 20%, 0.5);
    border: 1px solid hsl(0, 0%, 20%, 0.9);
    height: 100%;
    width: 100%;
    -webkit-mask-image: url(../../assets/mask-button-category.png);
    -webkit-mask-mode: alpha;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: url(../../assets/mask-button-category.png);
    mask-mode: alpha;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.createItemDialog .item-category-select .category-button svg {
    color: hsl(0, 0%, 100%, 0.6);
    font-size: 3.25em;
    position: absolute;
    left: 0.4em;
    top: 6px;
    transition: 0.25s;
}

.createItemDialog .item-category-select .category-button .category-label {
    height: 100%;
    width: 100%;
    font-size: 46px;
    opacity: 0;
    transition: 0.25s;
    font-family: var(--font-labels);
    pointer-events: none;
    user-select: none;
}

.createItemDialog .item-category-select .category-button:hover {
    border-color: hsl(0, 0%, 20%);

}

.createItemDialog .item-category-select .category-button:hover svg {
    opacity: 25%;
}

.createItemDialog .item-category-select .category-button:hover .category-label {
    opacity: 1;
    font-size: 36px;
    color: var(--highlight-color-brown);
    font-weight: bold;
}