.Inventory {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto auto;
    gap: 0.5em;
}

.Inventory .filter-bar {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-row-start: 2;
    gap: 0.5em;
}

.Inventory .filter-bar span {
    font-size: 2em;
    color: var(--font-color-default-highlight);
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
}

.Inventory .filter-bar span:hover {
    color: var(--highlight-color-brown);
}

.Inventory .tools-bar span {
    color: var(--font-color-default-faint);
    font-family: var(--font-default);
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
}

.Inventory .tools-bar span:hover {
    color: var(--highlight-color-brown);
}

.Inventory .tools-bar {
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: end;
}

.Inventory .items {
    display: grid;
    gap: 0.5em;
    grid-column-start: 2;
    grid-row-start: 2;
}