.Inventory {
    display: grid;
    grid-template-columns: 2rem auto;
    grid-template-rows: min-content min-content auto min-content;
    gap: 0.5em;
    width: 100%;
    padding-bottom: 1em;
}

.Inventory .title {
    display: grid;
    grid-column: 1/3;
    grid-row-start: 1;
    justify-content: center;
    padding-bottom: 0.5em;
}

.Inventory .title span {
    font-family: var(--font-headers);
    color: var(--font-color-default);
    font-size: 1.5em;
}

.Inventory .filter-bar {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-row-start: 3;
    gap: 0.5em;
}

.Inventory .filter-bar span {
    font-size: 2em;
    color: var(--font-color-default-highlight);
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
}

.Inventory .filter-bar span:hover {
    color: var(--highlight-color-brown);
}

.Inventory .tools-bar span {
    color: var(--font-color-default-faint);
    font-family: var(--font-default);
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
}

.Inventory .tools-bar span:hover {
    color: var(--highlight-color-brown);
}

.Inventory .tools-bar {
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: end;
}

.Inventory .tools-bar input {
    background: var(--background-color);
    color: white;
    border-radius: 5px;
    border-color: black;
    margin-right: 1em;
    width: 80%;
}

.Inventory .items {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    grid-column-start: 2;
    grid-row-start: 3;
    overflow-y: scroll;
    overflow-x: hidden;
}

.Inventory .inventory-bottom {
    display: grid;
    grid-template-rows: min-content auto;
    grid-column: 1/3;
    grid-row-start: 4;
    padding: 0.25em;
    border-radius: 4px;
    background: hsla(0, 0%, 0%, 0.2);
    backdrop-filter: blur(4px);
    /* outline: 2px solid red; */
}

.Inventory .inventory-bottom .encumbrance {
    display: grid;
    grid-template-columns: min-content auto;
}

.Inventory .inventory-bottom .encumbrance .encumbrance-table {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: min-content auto;
    height: 3em;
    border-bottom: 2px dotted white;
    border-color: var(--font-color-default-faint);
}

.Inventory .inventory-bottom .encumbrance svg {
    color: white;
    font-size: 2em;
}

.Inventory .inventory-bottom .encumbrance .encumbrance-table span {
    text-align: center;
    color: var(--font-color-default-faint);
}

.Inventory .inventory-bottom .encumbrance .encumbrance-table .label {
    font-family: var(--font-default);
    color: var(--font-color-default);
}

.Inventory .inventory-bottom .wealth {
    display: flex;
    box-sizing: border-box;
}

.Inventory .inventory-bottom .wealth div {
    display: flex;
    height: 4em;
    align-items: center;
}

.Inventory .inventory-bottom .wealth svg {
    color: white;
    font-size: 2em;
}

.Inventory .inventory-bottom .wealth input {
    height: 50%;
    width: 100%;
    text-align: center;
    font-size: 3em;
    box-sizing: border-box;
    font-family: var(--font-labels);
    color: var(--font-color-default);
    border: none;
    background: none;
    padding-top: 20px;
}

.Inventory .inventory-bottom .wealth input:focus {
    outline: none;
    caret-color: transparent;
    color: var(--highlight-color-brown);
}


/* CREATE ITEM DIALOG */
.createItemDialog {
    width: 40rem;
    background-color: hsla(0, 0%, 10%, 0.80);
    backdrop-filter: blur(4px);
    color: hsl(210, 5%, 75%);
    padding: 1rem;
    border-radius: 4px;
}

.createItemDialog .p-dialog-title {
    font-size: 2rem;
    font-family: 'Rowdies'
}

.createItemDialog .p-dialog-header-icons button {
    color: hsl(210, 5%, 75%);
}

.createItemDialog .p-dialog-content {
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand';
    padding: 1rem 0;
}

.createItemDialog .p-dialog-content input {
    background-color: transparent;
    border: 1px solid hsl(210, 5%, 50%);
    border-radius: 4px;
    padding: 0.5rem;
    color: hsl(210, 5%, 75%);
}

.createItemDialog .p-dialog-content input:focus {
    outline: none;
    border-color: white;
}

.p-dropdown,
.p-multiselect {
    border: 1px solid hsl(210, 5%, 50%);
    border-radius: 4px;
    padding: 0.5rem;
}


.p-dropdown-items-wrapper,
.p-multiselect-items-wrapper {
    color: hsl(210, 5%, 75%);
    background-color: hsla(0, 0%, 10%, 0.75);
    font-family: 'Quicksand';
    border: 1px solid hsl(210, 5%, 50%);
    border-radius: 4px;
    border-top: none;
}

.p-dropdown-item,
.p-multiselect-item {
    padding: 0.1rem 0.3rem;
}

.p-dropdown-item:hover,
.p-multiselect-item:hover {
    background-color: hsl(50, 25%, 45%);
    color: black;
}

.p-multiselect-close-icon,
.p-checkbox-icon {
    display: none;
}