.TraitsFeats {
    display: grid;
    grid-template-rows: min-content auto;
    text-align: center;
    width: 100%;
    padding-bottom: 1em;
}

/*TITLE*/
.TraitsFeats .title {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    justify-content: center;
    text-align: center;
    padding-bottom: 0.5em;
    user-select: none;
}

.TraitsFeats .title span {
    font-family: var(--font-headers);
    color: var(--font-color-default);
    font-size: 1.85rem;
    user-select: none;
}

/* CONTENT */
.TraitsFeats .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;
    padding: 0.25em;
}

.TraitsFeats .content-top {
    grid-column: 1/3;
}

.TraitsFeats .content-center {
    grid-column: 1/3;
}

.TraitsFeats .content-bottom {
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}


/* BADGES */
.FeatsBadge {
    font-size: 1rem;
    display: grid;
    grid-template-rows: min-content min-content;
    background-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 4px;
    font-family: var(--font-default);
    color: var(--font-default);
    padding: 0.15em 0.3em;
    cursor: pointer;
}

.FeatsBadge .badge-name {
    line-height: 1em;
    padding-bottom: 0.15em;
}

.FeatsBadge .badge-details {
    font-size: 0.6em;
    display: grid;
    grid-template-columns: auto min-content;
    justify-items: start;
}

.FeatsBadge .badge-details span {
    background-color: transparent !important;
    padding: 0 !important;
    color: hsl(0, 0%, 30%) !important;
    white-space: nowrap;
}



/* ARMOR PROFICIENCY TABLE */
.armor-proficiency {
    display: grid;
    grid-template-columns: min-content min-content min-content min-content min-content;
    /* outline: 1px solid red; */
    gap: 0.7em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid hsl(0, 0%, 20%);
}

.armor-proficiency .proficiency-label {
    font-size: 12px;
    padding: 0.25em;
}

.armor-proficiency .proficiency-stat label {
    font-size: 12px;
    font-family: var(--font-default);
    color: hsl(0, 0%, 45%);
    ;
}

/* CREATE DIALOG */
.FeatureDialog {
    display: grid;
    background-color: hsla(0, 0%, 10%, 0.80);
    backdrop-filter: blur(4px);
    color: hsl(210, 5%, 75%);

    -webkit-mask-image: url(../../assets/mask_rough_edges.png);
    -webkit-mask-mode: alpha;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: url(../../assets/mask_rough_edges.png);
    mask-mode: alpha;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    padding: 1em;
}

/* HEADER */
.FeatureDialog .dialog-header {
    font-family: var(--font-default);
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 0.5em;
}

/* FOOTER */
.FeatureDialog .dialog-footer {
    display: flex;
    gap: 1em;
    margin: 0.5em;
}

/* BUTTONS */

.FeatureDialog .dialog-footer .dialog-button {
    flex: 1;
    background-color: hsl(0, 0%, 30%, 0.4);
    border: 1px solid hsla(0, 0%, 10%, 0.85);
    color: hsl(0, 0%, 80%);
    cursor: pointer;
    font-family: var(--font-default);
    font-weight: bold;
    transition: 0.25s;
    font-size: 1em;
    white-space: nowrap;
    height: 1.75em;
    -webkit-mask-image: url(../../assets/mask_dlc.png);
    -webkit-mask-mode: alpha;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: url(../../assets/mask_dlc.png);
    mask-mode: alpha;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    padding: 0em 0.7em;
    text-transform: capitalize;
}


.FeatureDialog .dialog-footer .dialog-button:hover {
    color: var(--highlight-color-brown);
}

.FeatureDialog .dialog-footer .dialog-button:disabled {
    color: hsl(0, 0%, 50%);
    cursor: not-allowed;
}

.FeatureDialog .dialog-footer .dialog-button.delete {
    width: min-content;
    flex-grow: 0;
    flex-shrink: 0;
}

.FeatureDialog .dialog-footer .dialog-button.delete:hover {
    color: hsl(0, 100%, 65%);
}

/* CONTENT */
.FeatureDialog .dialog-content {
    display: grid;
    width: 100%;
    grid-template-rows: 1fr auto;
    gap: 1em;
    font-family: var(--font-default);
    font-weight: bold;
}

.FeatureDialog .dialog-content div {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1em;
    padding: 0 1em;
}

.FeatureDialog .dialog-content div span {
    text-transform: uppercase;
    align-self: center;
}

/* INPUTS */
.FeatureDialog input {
    background-color: hsla(0, 0%, 20%, 0.5);
    border: none;
    border-radius: 4px;
    color: hsl(210, 5%, 75%);
    font-family: var(--font-default);
    transition: 0.25s;
    padding: 0.5em;
    font-weight: bold;
}

.FeatureDialog input:focus {
    outline: none;
}

.FeatureDialog .dialog-header input {
    font-size: 22px;
    text-align: center;
}

.FeatureDialog ::placeholder {
    font-style: italic;
    color: hsl(210, 5%, 55%, 0.5);
}

/* DESCRIPTION */
.FeatureDialog .dialog-description {
    background-color: hsl(35, 51%, 95%, 0.15);
    -webkit-mask-image: url(/wfrp4e-roster/src/assets/mask_dlc.png);
    -webkit-mask-mode: alpha;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-image: url(/wfrp4e-roster/src/assets/mask_dlc.png);
    mask-mode: alpha;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    width: 100%;
}

.FeatureDialog textarea {
    width: 100%;
    height: 6em;
    resize: none;
    background: none;
    border: none;
    text-align: start;
    color: hsl(0, 0%, 60%);
    font-family: 'Caveat';
    padding: 0.75em;
    font-size: 20px;
}