.CharacterSlots {
    display: grid;
    grid-template-columns: 35% auto;
    height: 100%;
    font-size: 1.2em;
    border-left: 4px dotted hsla(0, 0%, 55%, 0.35);
    border-right: 4px dotted hsla(0, 0%, 55%, 0.35);
    box-shadow: 0px 20px 20px 0 hsla(0, 0%, 0%, 0.55);
    width: 100%;
    justify-items: center;
}

/*CONSUMABLES*/
.CharacterSlots .consumable-slots {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75em 0em;
    height: min-content;
    user-select: none;
    margin-top: 2em;
    padding: 1em;
}

.CharacterSlots .consumable-slots .ItemSlot {
    font-size: 0.9rem;
}

/*ARMOR*/
.CharacterSlots .armor-slots {
    user-select: none;
    font-size: 0.88rem;
    width: 20em;
    position: relative;
}

.CharacterSlots .armor-slots .silhouette {
    opacity: 0.6;
    width: 100%;
    position: absolute;
}

.CharacterSlots .armor-slots .ItemSlot {
    position: absolute;
    font-size: 1.2em;
}

.CharacterSlots .armor-slots .ItemSlot:nth-child(2) {
    top: 1.5em;
    left: 6em;
}

.CharacterSlots .armor-slots .ItemSlot:nth-child(3) {
    top: 9em;
    left: 6em;
}

.CharacterSlots .armor-slots .ItemSlot:nth-child(4) {
    top: 14em;
    left: 12em;
}

.CharacterSlots .armor-slots .ItemSlot:nth-child(5) {
    top: 14em;
    left: -0.5em;
}

.CharacterSlots .armor-slots .ItemSlot:nth-child(6) {
    top: 29em;
    left: 10em;
}

.CharacterSlots .armor-slots .ItemSlot:nth-child(7) {
    top: 29em;
    left: 2em;
}

.CharacterSlots .armor-slots .ItemSlot:nth-child(8) {
    top: 5em;
    left: 12em;
}