.CharacterSlots {
    display: grid;
    grid-template-rows: min-content auto min-content;
    width: 100%;
    gap: 0.5em;
    padding-bottom: 1em;
    font-size: 1.2em;
    /* border-left: 4px dotted hsla(0, 0%, 55%, 0.35); */
    /* border-right: 4px dotted hsla(0, 0%, 55%, 0.35); */
    /* box-shadow: 0px 20px 20px 0 hsla(0, 0%, 0%, 0.55); */
}

/* TITLE */

.CharacterSlots .title {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
}

.CharacterSlots .title span {
    font-family: var(--font-headers);
    color: var(--font-color-default);
    font-size: 1.85rem;
}

/*SLOT SECTION*/

.CharacterSlots .slot-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    width: 100%;
}

/*ITEMS*/

.CharacterSlots .item-slots {
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 33em;
    user-select: none;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1em;
}

.CharacterSlots .item-slots .ItemSlot:nth-child(even) {
    margin-left: 1em;
}

.CharacterSlots .item-slots .ArmorSlot {
    font-size: 0.9rem;
}

/*ARMOR*/

.CharacterSlots .armor-slots {
    user-select: none;
    font-size: 0.78rem;
    width: 20em;
    position: relative;
}

.CharacterSlots .armor-slots .silhouette {
    opacity: 0.6;
    width: 100%;
    position: absolute;
    left: 2em;
}

.CharacterSlots .armor-slots .ArmorSlot {
    position: absolute;
    font-size: 1.2em;
}

.CharacterSlots .armor-slots .ArmorSlot:nth-child(2) {
    top: 1.5em;
    left: 8.5em;
}

.CharacterSlots .armor-slots .ArmorSlot:nth-child(3) {
    top: 9em;
    left: 8.5em;
}

.CharacterSlots .armor-slots .ArmorSlot:nth-child(4) {
    top: 16em;
    left: 14em;
}

.CharacterSlots .armor-slots .ArmorSlot:nth-child(5) {
    top: 16em;
    left: 2.5em;
}

.CharacterSlots .armor-slots .ArmorSlot:nth-child(6) {
    top: 27em;
    left: 12.5em;
}

.CharacterSlots .armor-slots .ArmorSlot:nth-child(7) {
    top: 27em;
    left: 5em;
}

.CharacterSlots .armor-slots .ArmorSlot:nth-child(8) {
    top: 5em;
    left: 15em;
}

/* WEAPONS */


.CharacterSlots .weapon-slots {
    overflow-x: scroll;
    overflow-y: hidden;
    width: auto;
    display: flex;
    gap: 1em;
    height: 3.5em;
    padding: 0.5em;
    border-radius: 4px;
    background: hsla(0, 0%, 0%, 0.2);
    backdrop-filter: blur(4px);
    color: white;
    grid-row-start: 3;

    justify-content: space-between;
}