.Character {
    display: grid;
    flex: 1;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

/* .Character .character-section {
    border: 2px solid red;
} */

.Character .status-section {
    border: 2px solid gold;
}