.Character {
    display: grid;
    flex: 1;
    grid-template-columns: 1fr min-content 1fr min-content 1fr;
    gap: 0.5em;
    overflow: hidden;
}

.Character .section {
    display: flex;
    overflow: hidden;
}