.InventoryItem {
    display: flex;
    flex-direction: row;
    background: hsla(0, 0%, 0%, 0.5);
    border: 1px solid hsla(0, 0%, 0%, 0.5);
    border-radius: 20px 5px 5px 20px;
    width: 100%;
    height: 2em;
    position: relative;
    align-items: center;

    user-select: none;
    color: white;
    transition: 0.5s;
}

.InventoryItem:hover {
    /* border-color: var(--highlight-color-brown); */
    box-shadow: inset 50px 0px 35px -20px var(--highlight-color-brown);
}

/* ITEM EQUIP */

.InventoryItem .item-equip {
    display: flex;
    border: 3px solid hsl(0, 0%, 27%);
    position: absolute;
    height: 1.5em;
    width: 1.5em;
    left: -2px;
    background-color: hsl(0, 0%, 10%);

    transition: 0.25s;
    transform: rotateZ(45deg);
    overflow: hidden;
    z-index: 1;
}

.InventoryItem .item-equip:hover {
    border-color: var(--highlight-color-brown);
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--highlight-color-brown);
}

.InventoryItem .item-equip>div {
    transform: rotateZ(-45deg);
    font-size: 24px;
    color: hsl(0, 0%, 80%);
    place-items: center;
    z-index: 2;
}


/* ITEM CONTENT */
.edit-button {
    cursor: pointer;
}


.InventoryItem .item-content {
    display: grid;
    grid-template-columns: auto min-content;
    width: 100%;
}

.InventoryItem .item-name {
    font-family: var(--font-headers);
    color: var(--font-color-default);
    font-size: 14px;
    padding-left: 3em;
}

/* ITEM STATS */
.InventoryItem .item-stats {

    display: flex;
    flex-direction: row;
    gap: 1em;
}

.InventoryItem .item-stats .stat {
    display: flex;
    gap: 0.15em;
    width: 6em;
    align-items: center;
    font-size: 14px;
}

.InventoryItem .item-stats .stat .label {
    font-family: var(--font-headers);
    color: hsl(0, 0%, 50%);
    font-size: 10px;
    align-self: end;
}

.InventoryItem .item-stats .stat span {
    font-family: var(--font-headers);
    color: hsl(0, 0%, 80%);
    align-self: end;
}

/* ITEM CONTAINER */
.InventoryItem .item-container {
    display: grid;
    width: 4em;
    font-size: 24px;
    place-items: start;
    color: hsl(0, 0%, 40%);
    /* border: 1px solid green; */
    margin-left: auto;
    transition: 0.25s;
}

.InventoryItem .item-container:hover {
    cursor: pointer;
    color: hsl(0, 0%, 90%);
}

/* ITEM AMOUNT */
.InventoryItem .item-amount {

    /* border: 1px solid yellow; */
    position: absolute;
    align-self: center;
    text-align: center;
    font-size: 42px;
    font-family: 'Caveat';
    width: 1em;
    right: 5px;
    bottom: 0px;
    z-index: 1;
    color: hsl(0, 0%, 80%);
}




/* 
.InventoryItem {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    font-family: 'Quicksand';
    font-size: 14px;
    display: grid;
    grid-template-rows: min-content auto;
    user-select: none;
    width: 100%;
 
    position: relative;
    overflow: hidden;
}

.InventoryItem .background-icon {
    position: absolute;
    color: hsl(0, 0%, 100%, 0.1);
    font-size: 13em;
    top: -30%;
    z-index: -1;


    right: 0%;
    transform: scaleX(-1);
} 
*/


/*

.InventoryItem>.header {
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
}

.InventoryItem>.header .item-name {
    font-family: var(--font-headers);
    color: var(--font-color-default);
    font-size: 20px;
    padding-left: 0.25em;
}

.InventoryItem>.header .item-tools {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 2px;
    color: hsl(210, 5%, 35%);
    border-radius: 0px 5px 0px 5px;
    background-color: hsla(0, 0%, 0%, 0.3);
}

.InventoryItem>.header .item-tools>* {
    display: flex;
    padding: 0.25em;
    border-radius: 5px;
    padding: 0em 1.5em;
}

.InventoryItem .header .item-tools svg {
    font-size: 20px;
    transition: 0.25s;
}

.InventoryItem .header .item-tools svg:hover {
    cursor: pointer;
    color: var(--highlight-color-brown);
}

.InventoryItem .header .item-tools svg:active {
    transform: scale(0.9);
}
*/




.InventoryItem>.content {
    display: grid;
    grid-template-rows: auto min-content;
    gap: 0.5em;
}

.InventoryItem>.content .traits {
    display: flex;
    min-height: 1.5em;
    width: 100%;
    color: var(--font-color-default-faint);
    padding: 0.5em 0em;
    gap: 1em;
    font-style: italic;
    text-transform: capitalize;
    flex-wrap: wrap;
}

.InventoryItem .content .traits .trait-qualities,
.InventoryItem .content .traits .trait-flaws {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.InventoryItem .content .traits .trait-flaws {
    display: flex;
    gap: 0.5em;
    color: hsl(15, 100%, 35%);
}

.InventoryItem .content .traits .quality {
    color: hsl(210, 5%, 75%);
    text-shadow: 0px 0px 5px hsl(135, 50%, 50%);
    padding: 1px 5px;
    cursor: pointer;
    transition: 0.5s;
}

.InventoryItem .content .traits .quality:hover {
    color: hsl(0, 0%, 90%);
    text-shadow: 0px 0px 10px hsl(135, 50%, 50%), 0px 0px 15px hsl(135, 50%, 50%), 0px 0px 20px hsl(135, 50%, 50%);
}

.InventoryItem .content .traits .flaw {
    color: hsl(210, 5%, 75%);
    text-shadow: 0px 0px 5px hsl(0, 50%, 50%);
    padding: 1px 5px;
    cursor: pointer;
    transition: 0.5s;
}

.InventoryItem .content .traits .flaw:hover {
    color: hsl(0, 0%, 90%);
    text-shadow: 0px 0px 10px hsl(0, 50%, 50%), 0px 0px 15px hsl(0, 50%, 50%), 0px 0px 20px hsl(0, 50%, 50%);
}

/*QUALITIES & FLAWS TOOLTIP*/

.quality-tooltip,
.flaw-tooltip {
    display: grid;
    user-select: none;
    width: 30em;
}

.quality-tooltip .header,
.flaw-tooltip .header {
    align-content: center;
}

.quality-tooltip .header span,
.flaw-tooltip .header span {
    font-weight: bold;
    font-size: 88px;
    font-style: italic;
    font-family: 'Homemade Apple';
    position: absolute;
    right: 0em;
    bottom: -60px;
    transform: rotate(10deg);
}

.quality-tooltip .header div,
.flaw-tooltip .header div {
    font-weight: bolder;
    align-self: center;
    font-style: italic;
}

.quality-tooltip .header span {
    color: hsl(210, 5%, 15%, 0.15);
    text-shadow: 0px 0px 5px hsl(135, 50%, 50%, 0.15);

}

.flaw-tooltip .header span {
    color: hsl(210, 5%, 15%, 0.15);
    text-shadow: 0px 0px 5px hsl(0, 50%, 25%, 0.15);

}

/*STATS*/
.InventoryItem>.content .item-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: hsla(0, 0%, 0%, 0.3);
    padding: 0.20em 1em;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.InventoryItem>.content .item-stats .stat {
    border-radius: 2px;
    color: var(--font-color-default);
    text-transform: capitalize;
}

.InventoryItem>.content .item-stats .stat .label {
    font-size: 0.6em;
    color: hsl(210, 5%, 40%);
}

.InventoryItem>.content .item-stats .stat .locations {
    display: flex;
    width: min-content;
    gap: 0.5em;
}

/*Icons*/
.InventoryItem>.header .item-stats {
    font-size: 1.15em;
}

.InventoryItem>.header .item-stats>div {
    display: flex;
    align-items: end;
}

.InventoryItem>.header .item-stats>div.encumbrance {
    align-items: center;
}

.InventoryItem>.header .item-stats svg {
    font-size: 1em;
}

.InventoryItem>.header .item-stats .encumbrance svg {
    color: hsl(0, 0%, 40%);
    font-size: 0.9em;
}

.InventoryItem>.header .item-stats .gold svg {
    color: hsl(50, 50%, 40%);
}

.InventoryItem>.header .item-stats .silver svg {
    color: hsl(0, 0%, 65%);
}

.InventoryItem>.header .item-stats .bronze svg {
    color: hsl(34, 56%, 34%);
}


/*DESCRIPTION*/

.InventoryItem .content .item-description {
    width: 100%;
}

.InventoryItem .content .item-description textarea {
    background-color: transparent;
    width: 100%;
    color: hsl(0, 0%, 50%);
    font-family: 'Caveat';
    resize: none;
    border: none;
    font-size: 18px;
}

.InventoryItem .content .item-description textarea:focus {
    outline: none;
}

.InventoryItem .content .item-description textarea::placeholder {
    color: hsl(0, 0%, 40%);
}