.Banner {
    --color-primary: hsl(0, 0%, 6%);
    --color-test: hsl(3, 78%, 40%);

    display: grid;
    grid-template-rows: 3em auto;
    font-family: var(--font-banner);
    font-size: 0.7rem;
    overflow: hidden;
    min-width: 6em;
    height: 8em;
    padding-top: 0.25em;
    border-radius: 2px;
    color: var(--font-color-default);
    background: linear-gradient(to top, transparent 0%, var(--color-test) 50%);
    border-image: linear-gradient(to top, hsla(0, 0%, 0%, 0) 0%, hsl(0, 0%, 15%) 25%) 1;
    border-width: 1px;
    border-style: solid;
    border-bottom: none;
}

.Banner span {
    font-size: 1.25em;
    color: hsl(3, 78%, 80%);
}

.Banner input {
    font-family: var(--font-labels);
    font-size: 4em;
    /* color: white; */
    width: 90%;
    height: 90%;
    background: none;
    border: none;
    text-align: center;
    justify-self: center;
    padding-top: 0.2em;
    color: var(--font-color-default);
    color: hsl(3, 78%, 90%);
}

.Banner input:focus {
    outline: none;
    color: var(--highlight-color-brown);
    caret-color: transparent;
}